@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body{
    font-weight: 400;    
    width: 100vw;
    padding-top: 60px;
}
.navbar{
    background-color: #780000;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}
.bvn{
    font-weight: 600;
    font-size: 30px;
    margin: 75px 10px 15px 10px;
}
h1{
    font-weight: 800;
}
.container{
    margin: 8px;
}
.deck-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.deck-card{
    width: 75vw;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.308));
    border-radius: 10px;
    background-color: #FDF0D5;
    margin: 15px;
    padding: 10px 10px 15px 10px;
}
.deck-card h2{
    font-weight: 600;
}
.deck-card a, .btn{
    background-color: #C1121F;
    text-decoration: none;
    color: white;
    padding: 6px 8px;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
}
.deck-card p{
    margin: 5px 0;
}
.btn:disabled{
    background-color: gray;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    width: 50vw;
    min-width: 280px;
    background-color: #003049;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    /* height: 50vh; */
}
form label{
    font-size: 20px;
    font-weight: 600;
}
form div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
form div input{
    width: 50px;
}
input{
    height: 36px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    padding: 2px 5px;
}
textarea{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 60px;
    padding: 2px 5px;
}

textarea:first-of-type{
    margin-bottom: 20px;
}

button{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.random-card{
    margin: 10px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carte-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: auto;
}
.carte{
    background-color: #003049;
    color: white;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
}