{% extends 'layout.html.twig' %}
{% block title %}Créer un Deck - {{ parent() }}{% endblock %}
{% block content %}

<h2>Créer un nouveau Deck et ajouter une carte</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form action="{{ url('/deck/create') }}" method="POST">

    <!-- Champs pour les informations du deck -->
    <label for="titre_deck">Titre du Deck :</label><br>
    <input type="text" id="titre_deck" name="titre_deck" required><br><br>

    <label for="date_debut_deck">Date de début :</label><br>
    <input type="date" id="date_debut_deck" name="date_debut_deck" required><br><br>

    <label for="date_fin_deck">Date de fin :</label><br>
    <input type="date" id="date_fin_deck" name="date_fin_deck" required><br><br>

    <label for="nb_cartes">Nombre de cartes :</label><br>
    <input type="number" id="nb_cartes" name="nb_cartes" required><br><br>

    <!-- Champs pour la première carte -->
    <h3>Ajouter la première carte</h3>

    <label for="texte_carte">Texte de la carte :</label><br>
        <textarea id="texte_carte" name="texte_carte" required></textarea><br><br>

        <label for="valeurs_choix1">Valeur du Choix 1 :</label><br>
        <textarea id="valeurs_choix1_text" name="valeurs_choix1_text" required></textarea><br><br>
        <div style="display: flex;">
            <input type="number" id="valeurs_choix1_nb1" name="valeurs_choix1_nb1" required><br><br>
            <input type="number" id="valeurs_choix1_nb2" name="valeurs_choix1_nb2" required><br><br>
        </div>

        <label for="valeurs_choix1">Valeur du Choix 2 :</label><br>
        <textarea id="valeurs_choix2_text" name="valeurs_choix2_text" required></textarea><br><br>
        <div style="display: flex;">
            <input type="number" id="valeurs_choix2_nb1" name="valeurs_choix2_nb1" required><br><br>
            <input type="number" id="valeurs_choix2_nb2" name="valeurs_choix2_nb2" required><br><br>
        </div>

    <button type="submit">Créer le Deck et ajouter la Carte</button>
</form>

{% endblock %}
